<div class="row justify-content-center">
  <div class="d-flex justify-content-center">
    <!-- <div class="alert alert-danger" *ngIf="error"><p>{{error}}</p></div> -->
    <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
    <ng-template appPlaceholder></ng-template>
  </div>
  <div class="col-xs-12 col-md-6 col-md-offset-3 card">
    <form (ngSubmit)="onAuthenticate(authForm)" #authForm="ngForm" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input 
          type="text" 
          ngModel
          name="email" 
          class="form-control"
          required
          email
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="text"
          name="password"
          class="form-control"
          ngModel
          required
          minlength="6"
         >
      </div>
      <div>
        <button class="btn btn-primary me-4" type="submit" [disabled]="!authForm.valid">
          {{isLoginMode ?  'Login' : 'SignUp'}}
          <div *ngIf="isLoading" class="mx-2 spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch To {{isLoginMode ? 'SignUp' : 'Login'}}
        </button>
        <button class="btn btn-success mx-4" (click)="onGuestLogin(authForm)" type="submit">
          Guest Login
        </button>
      </div>    
    </form>
  </div>
</div>